.cart-container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.cart-container {
  max-width: 800px;
}

.list-group-item img {
  object-fit: cover;
}
